In [1]:
print("Hello world!")

Hello world!

In [3]:
print("I'm divya","welcome to python")

I'm divya welcome to python

In [4]:
print(123)

123

In [5]:
print(12+23)

35

In [15]:
#variable
name = "divya" #string
age = 20 #integer
price = 12.0 #float

In [17]:
print(name,age,price)

divya 20 12.0

In [9]:
print("my name is:",name)

my name is: divya

In [10]:
age2 =age
print(age)

20

In [18]:
print(type(name))
print(type(age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [22]:
#data types
si = 20
name = "divya"
marks = 20.5
college = True
print(type(si))
print(type(name))
print(type(marks))
print(type(college))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [23]:
a = 12
b = 23
sum = a+b
print(sum)

35

In [24]:
#expression execution
a,b = 2 ,3
txt = "@"
print(2*txt*3)

#concatenation
a,b="2",3
txt="@"
print((a+txt)*b)

@@@@@@
2@2@2@

In [26]:
a,b,c=1,2,9.20
print(a+b*c)

19.4

In [27]:
a,b=1,2.30
c=a//b #gives closest int
print(c,a/b)

0.0 0.4347826086956522

In [28]:
a,b=5,2
c=a%b
print(c)

a,b=-5,2
c=a%b
print(c)

a,b=5,-2
c=a%b
print(c)

1
1
-1

In [29]:
#comments
#add to no
print(222+365)

587

In [30]:
print("hi")#input
name = input("name:")

name:divya

In [33]:
age=int(input("age:"))

age:20

In [34]:
usn = input("usn:")
name = str(input("my name is:"))
fee = float(input("fee :"))

usn:20
my name is:divya
fee :218908

In [40]:
#conditional statements
#if-elif-else
age=int(input("age:"))
if(age>18):
  print("eligible to vote")
elif(age==18):
  print("eligible to vote")
else:
  print("not eligible to vote")

age:18
eligible to vote

In [42]:
a = int(input("a:"))
g = input("M/F:")
if((a ==1 or a ==2)and g =="M"):
  print("fee is 100")
elif(a == 3 or a == 4 or g =="F"):
  print("fee is 200")
elif(a == 5 and g == "M"):
  print("fee is 300")
else:
  print("no fee")

a:2
M/F:F
fee is 200

In [43]:
#singlr line if/ternary operator
food = input("food:")
eat = "yes" if food == "cake" else "no"
print(eat)

food:cake
yes

In [44]:
#clever if
sal = float(input("sal :"))
tax= sal*(0.1,0.2)[sal <= 50000]
print(tax)

sal :2500
500.0

In [46]:
#relational operators
a = 52
b = 63
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a<b)
print(a>b)

False
True
True
False
True
False

In [48]:
#assignement operators
num=10
num = num+205
print("num:",num)

num=10
num %=205
print("num:",num)

num=10
num /=205
print("num:",num)

num: 215
num: 10
num: 0.04878048780487805

In [49]:
#logical operators
print(not False)
print(True)
val1 = True
val2 = False
res1 = val1 and val2
res2 = val1 or val2

print(res1)
print(res2)

True
True
False
True

In [51]:
#type conversion
a,b=1,2.0
sum=a+b
print(sum)

a,b="1",2.0
sum=a+b
print(sum)

3.0

TypeError: can only concatenate str (not "float") to str

In [53]:
a=int("1")
b=2.0
sum=a+b
print(type(a))
print(sum)

<class 'int'>
3.0

In [54]:
var1 = input("a:")
var2 = input("b:")
sum = a+b
print(sum)

a:789
b:654
3.0

In [56]:
side = float(input("side of square:"))
print("s = ",side*side)

side of square:4
s =  16.0

In [57]:
p1 = float(input("p1:"))
p2 = float(input("p2:"))
avg = p1+p2/2
print(avg)

p1:89
p2:35
106.5