In [10]:
#Dictionary - key:value,mutable,unordered,don't allow duplicate
dict = {
    "name" : "divya",
    "marks": [12,25],
    "learning" : "coding",
    "gender": "female",
    "topic":("dict","set"),
    12.3:15.03
}
print(dict)
print(type(dict))
print(dict["name"])
print(dict["learning"])
dict["name"]="learner" #name changing
print(dict)
dict["surname"]="veeranna"
print(dict)
null_dict={}
print(null_dict)

{'name': 'divya', 'marks': [12, 25], 'learning': 'coding', 'gender': 'female', 'topic': ('dict', 'set'), 12.3: 15.03}
<class 'dict'>
divya
coding
{'name': 'learner', 'marks': [12, 25], 'learning': 'coding', 'gender': 'female', 'topic': ('dict', 'set'), 12.3: 15.03}
{'name': 'learner', 'marks': [12, 25], 'learning': 'coding', 'gender': 'female', 'topic': ('dict', 'set'), 12.3: 15.03, 'surname': 'veeranna'}
{}

In [16]:
#Nested dict
stu = {
    "name": "ram",
    "sub":{
        "s1":12,
        "s2":25
    }
}
print(stu)
print(stu["sub"]["s1"])

{'name': 'ram', 'sub': {'s1': 12, 's2': 25}}
12

In [36]:
#Dict methods
print(len(list(stu.keys())))
print(len(stu)) #keys(),ret keys
print(stu.values()) #values(),ret values
print(stu.items()) #items(),ret keys&values
print(list(stu.items()))
pairs = list(stu.items())
print(pairs[0])
print(pairs[0][1])
print(stu.get("sub"))#get(),ret key acc to value
print(stu.get("sub12"))
new_dict={"city":"aa"} #update()
stu.update()
print(stu)

3
3
dict_values(['ram', {'s1': 12, 's2': 25}, 'aa'])
dict_items([('name', 'ram'), ('sub', {'s1': 12, 's2': 25}), ('city', 'aa')])
[('name', 'ram'), ('sub', {'s1': 12, 's2': 25}), ('city', 'aa')]
('name', 'ram')
ram
{'s1': 12, 's2': 25}
None
{'name': 'ram', 'sub': {'s1': 12, 's2': 25}, 'city': 'aa'}

In [41]:
#Sets - mutable,unordered items || set elements - immutable
collection = {1,2,2,2,2,3,4,"artificial","intelligence",25,78032}
print(collection)
print(type(collection))
print(len(collection))

{1, 2, 3, 4, 'artificial', 78032, 'intelligence', 25}
<class 'set'>
8

In [43]:
collection1 = set()#empty set;syntax
print(type(collection1))

<class 'set'>

In [55]:
#sets method
col = set()
col.add(12) #add()
col.add(12.335)
col.add(12)
col.add("apple")
col.add((45,89,25))

col.remove(12) #remove()
print(col)
print(len(col))
col.clear() #clear()
print(col)
print(len(col))

{(45, 89, 25), 12.335, 'apple'}
3
set()
0

In [51]:
coll = set() #cannot add list
coll.add([12,45,78])
print(coll)

TypeError: unhashable type: 'list'

In [57]:
col2 = {"a","b","s","d","e"}
print(col2.pop())
print(col2.pop())
print(col2.pop())

a
b
s

In [59]:
set1 = {1,2,3} #union
set2 = {3,4,5}
print(set1.union(set2))

print(set1.intersection(set2)) #intersection

{1, 2, 3, 4, 5}
{3}