In [ ]:
#string - immutable
str1 = "this is divya"
str2 = 'hi'
str3 = """ hello"""

"this is divya's class python"

"this is divya's class python"

In [ ]:
#escape sequence character
str1 = "good morning \n have a nice day"  #new line
print(str1)
str2 = "good morning \t have a nice day"  #tab space
print(str2)

good morning
 have a nice day
good morning 	 have a nice day

In [ ]:
#operations
#concatination #add to string
str1 = "hello"
str2 = "world"
str = str1+str2
print(str)

helloworld

In [ ]:
#length
len(str)

10

In [ ]:
str1 = "machine"
len1 = len(str1)
print(len1)
str2 = "learning"
len2 = len(str2)
print(len2)
fin = (str1+" "+str2)
print(fin)
len3 = len(fin)
print(len3)

7
8
machine learning
16

In [ ]:
#indexing#accessing
str1 = "artificail intelligence"
print(str1)
ch1 = str1[0]
ch2 = str1[8]
ch3 = str1[15]
print(ch1,ch2,ch3)

artificail intelligence
a i l

In [ ]:
#slicing #ending idx not included
str = "deep learning"
print(str[1:7])
print(str[0:5])
print(str[0:10])
print(str[0:len(str)])
print(str[3:])
print(str[:6])

#negative index
print(str[-3:-1])
print(str[:-7])
print(str[-4:])

eep le
deep
deep learn
deep learning
p learning
deep l
in
deep l
ning

In [41]:
#string functions
str = "i am studying python and machine learning"
print(str.endswith("ing")) #endswith
print(str.capitalize()) #capitalize
print(str.replace("i","I")) #replace old from new value
print(str.find("python")) #find,ret index
print(str.find("s"))
print(str.find("q"))
print(str.count("and")) #count
print(str.count("a"))

True
I am studying python and machine learning
I am studyIng python and machIne learnIng
14
5
-1
1
4

In [43]:
str = (input("enter your name"))
print(len(str))

enter your namedivya
5

In [44]:
str = "hi, i am $ symbol ,$126.01"
print(str.count("$"))
print(str.count("e"))

2
0

In [46]:
#conditional statements
num = int(input("enter no:"))
if(num%2 == 0):
  print("even")
else:
  print("odd")

enter no:8
even

In [52]:
#list - mutable
price = [45,78,665,789,254,3125,450.35,450.2,7892,78,32]
print(price)
print(type(price))
print(price[5])
print(price[0])
print(len(price))

[45, 78, 665, 789, 254, 3125, 450.35, 450.2, 7892, 78, 32]
<class 'list'>
3125
45
11

In [54]:
student = ["raj",56,"RR nagar"]
print(student)
student[0] = "ram"
print(student)

['raj', 56, 'RR nagar']
['ram', 56, 'RR nagar']

In [58]:
#list slicing
marks = [12,89,45,233,65,78,159,325,125]
print(marks[1:6])
print(marks[:5])
print(marks[-6:-3])

[89, 45, 233, 65, 78]
[12, 89, 45, 233, 65]
[233, 65, 78]

In [69]:
#list method
list = [78,896,452,325]
list.append(45) #append - add's @ last
print(list)
print(list.sort()) #sort in asc order
print(list)
print(list.sort(reverse=True)) # sorts indes order
print(list)
list.reverse() #reverse list
print(list)
list.insert(3,66) #insert
print(list)
list.remove(66)#remove if value given
print(list)
list.pop(2)#removes if index given
print(list)

[78, 896, 452, 325, 45]
None
[45, 78, 325, 452, 896]
None
[896, 452, 325, 78, 45]
[45, 78, 325, 452, 896]
[45, 78, 325, 66, 452, 896]
[45, 78, 325, 452, 896]
[45, 78, 452, 896]

In [75]:
#tuples-immutable
tup=(12,26,45,789)
print(type(tup))
tup1 = (12,)
print(type(tup1))
print(tup[0:2])

<class 'tuple'>
<class 'tuple'>
(12, 26)

In [78]:
#tuple method
tup = (1, 2, 3, 2, 4, 2)
print(tup.index(2))
print(tup.count(2))

1
3